PRIVATE_KEY=
# If you have an account on pushover you can set this up to send notfications to your phone.
#PUSHOVER_API_KEY=
#PUSHOVER_USER_KEY=
# Set to true to actually perform compounding
PERFORM_DRIP_COMPOUNDING=False
WALLET_FRIENDLY_NAME=Test Drip Wallet