# Mandatory - gives write access to your Wallet KEEP THIS SECRET!
PRIVATE_KEY=
# Mandatory - Friendly name to display in output
WALLET_FRIENDLY_NAME=Test Drip Wallet
# If you have an account on pushover you can set this up to send notfications to your phone, email etc etc
#PUSHOVER_API_KEY=
#PUSHOVER_USER_KEY=
# Set to true to actually perform compounding
PERFORM_DRIP_COMPOUNDING=False
# Number of retries on a transaction failure - will cost gas each time - defaults to 1 - which is only try once.
# MAX_TRIES=2
# Min BNB Balance to have in your wallet to allow compounding action - default 0.02
#MIN_BNB_BALANCE=0.02